body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.text-decoration {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

img {
    display: block;
}

/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.div-header {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Nav */

.page-nav {
    display: flex;
    align-items: center;
}

/* Logotype */

.logo {
    margin-right: 76px;
}

.main-logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent {
    color: #2E2F42;
}

/* Logotype */
/* Menu */

.menu {
    display: flex;
    gap: 40px;
}

.link {
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #2E2F42;
padding-top: 24px;
padding-bottom: 24px;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

/* Menu */
/* Adress */

.page-adress {
    font-style: normal;
}

.adress-item {
    display: flex;
    gap: 40px;
}

.page-adress .page-contacts {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: flex;
}

.page-contacts:focus,
.page-contacts:hover
 {
    color: #404bbf;
}

/* Adress */
/* Nav */
/* Header */
/* Main */

.first-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 496px;
}

.button {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;    
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.main-button {
    max-width: 496px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.second-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-list {
    display: flex;
    gap: 24px;
}

.page-list {
    background-color: #FFFFFF;
    
}

.page {
    width: calc((100% - 72px) / 4);
}

.first-list-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.page-list-item {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.third-section {
    background-color: #F4F4FD
    padding-top: 120px;
    padding-bottom: 120px;
}

.third-list {
    display: flex;
    gap: 24px;
}

.third-page-list {
    width: calc((100% - 72px) / 4);
}

.page-our-team-portfolio {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}



.page-footer {
    background-color: #2e2f42;
}

.second-accent {
    color: #f4f4fd;
}

.footer-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}